<% if (title) { %>
  <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
  } %>

<% messages() %>


<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
<form class="addVehicleForm" action="/inventory/addNewVehicle" method="post">
    <label class="top">Classification
        <%- select %>
    </label>
    <label class="top">Make<input type="text" name="inv_make" required value="<%= locals.account_email %>"></label>
    <label class="top">Model<input type="text" name="inv_model" required value="<%= locals.account_email %>"></label>
    <label class="top">Description<textarea name="inv_description" id="invTextera" cols="30" rows="10"></textarea></label>
    <label class="top">Image Path<input type="text" name="inv_image" required value="/images/Vehicle/no-image.png"></label>
    <label class="top">Thumbnail Path<input type="text" name="inv_thumbnail" required value="/images/Vehicle/no-image.png"></label>
    <label class="top">year<input type="number" name="inv_year" required value="<%= locals.account_email %>"></label>
    <label class="top">Price<input type="number" name="inv_price" required value="<%= locals.account_email %>"></label>
    <label class="top">Miles<input type="number" name="inv_miles" required value="<%= locals.account_email %>"></label>
    <label class="top">Color<input type="text" name="inv_color" required value="<%= locals.account_email %>"></label>
    <input type="submit" value="ADD" class="submitBtn">
</form>